# Git
.git
.gitignore

# Node / Python / PHP vs (genel koruma)
node_modules/
vendor/
__pycache__/
*.pyc

# Env & secrets
.env
.env.*
secrets/

# IDE
.idea
.vscode

# Logs & temp
*.log
logs/
tmp/
.cache/

# Docs / misc
README.md
*.md
